svg {
  width: 100%;
  height: auto;
}
.skill {
	position: relative;
	width: 100%;
	height: 100%;
}

.skill__circle {
	position: absolute;
	top: 0;
	left: 0;
}

.skill__title {
	opacity: 0.5;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@keyframesskillProgress {
	0% {
		stroke-dashoffset: 502;
	}
	100% {
		stroke-dashoffset: 0;
	}
}