svg {
  width: 100%;
  height: auto;
}
.skill {
	position: relative;
	width: 134px;
	height: 134px;
}

.skill__circle {
	position: absolute;
	top: 0;
	left: 0;
}

.skill__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@keyframesskillProgress {
	0% {
		stroke-dashoffset: 502;
	}
	100% {
		stroke-dashoffset: 0;
	}
}