.socials {
	display: flex;

	&_bordered {

		.socials__item {
			padding: 15px;
			border-radius: 50%;
			border: 1px solid #ffffff;
			opacity: 0.3;
		}
	}
}

.socials__item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.socials__link {
	display: block;
	width: 25px;
	height: 25px;

	&:hover,
	&:focus {
		color: $purple;
	}
}

.socials__icon {
	width: 100%;
	height: 100%;
	fill: currentColor;
}