section.hero.fullscreen-section
	include ../../sections/header/header

	.hero__site-name
		p.hero__site-description Личный сайт веб разработчика
		h1.hero__site-title Наталья Быстрова
	
	a.hero__scroll
		span.hero__scroll-text Скролл
		+icon('scroll', 'hero__scroll-icon')