section.feedback
	.triangles.triangles_reverse
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles-item.triangle
			polygon(points="0,0 0,100, 1000,100")
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles-item.triangle
			polygon(points="1000,0 1000,100, 0,100")
	.container
		#feedback-slider-component
		