script(type="text/x-template")#skills-list
	ul.skills
		li.skills__item(v-for="category in skills" :key="category.title")
			skills-row(
				:category="category"
			)
			

script(type="text/x-template")#skills-row
	.skills-row
		.skills-row__title {{ category.title }}
		ul.skills-row__list
			li.skills-row__item(v-for="skill in category.skills" :key="skill.id")
				skill(
					:skill="skill"
				)
				
				

script(type="text/x-template")#skill
	.skill
		svg(viewbox="0 0 200 200")
			circle.skill__circle.skill__circle_under(r="80" cx="100" cy="100" fill="transparent"  )
			circle.skill__circle.skill__circle_above(ref="circle" r="80" cx="100" cy="100" fill="transparent" stroke="url(#gradient)" )
			linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
				stop(offset="0%" stop-color='#4a00ed')
				stop(offset="100%" stop-color='#9300e8')
		.skill__title {{ skill.title }}
			