section.about-me
	.about-me__wrapper
		.about-me__user-info
			.about-me__avatar
				.avatar
					+image('content/user.jpg', 'avatar__photo')
			- var obj = { Проживаю: 'Санкт-Петербург', Возраст: '29 лет', Родилась: '10 февраля 1991'};
				table.about-me__data
					tbody.about-me__data-body
						each value, key in obj 
							tr
								td= `${key}: `
								td= value 

		.about-me__user-description         
			.about-me__greeting
				p.about-me__text Привет, меня зовут
				h2.about-me__title Наталья Быстрова
				p.about-me__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
			p.about-me__text.about-me__text_with-icon Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
