include ./mixins.pug



<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .sections-wrapper-baloon
          .container
            include ./components/sections/hero/hero
            include ./components/sections/about-me/about-me

        include ./components/sections/skills/skills
        include ./components/sections/portfolio/portfolio
        

        .sections-wrapper-budda
          include ./components/sections/feedback/feedback
          include ./components/sections/feedback-form/feedback-form
        include ./components/sections/footer/footer

  

          